<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Compress It Upload Page</title>
  </head>
  <body>
  	<div class="background">
	  <stong>
	    <h2 class="centered">Compress It!</h2>
	  </strong>
	    <div class="second-backgound">
	      <div class="form">
	      		    {% block content %}
    				{% endblock %}  
	      </div
	    </div>
	</div>

    <style>
    .background {
      margin: 0;
      padding: 20px;
      background: #abf3ed;
      box-sizing: border-box;
      height: 100vh;
    }

    .second-backgound{
      background: rgba(0,0,0,0.2);
      display: flex;
      width: 100%;
      height: 80%;
      border-radius: 10px;
    }

    .centered{
      text-align: center;
      font-family: sans-serif;
    }

    .form{
      width: 440px;
      height: 230px;
      background: #ff8;
      box-shadow: 0 5px 16px #ccc;
      margin: auto;
      border-radius: 10px;
      position: relative;
    }

    .form-group{
      position: relative;
      margin-bottom: 32px;
    }
    </style>
  </body>
</html>