{% extends 'compressit/base.html' %}

{% load static %}

{% block content %}
  <label class="centered">
      <strong>It's compressed!</strong>
  </label>
  <hr/>

  {% if converted_image_url %}
    <p class="centered">
      Download it
      <a href="{{ converted_image_url }}" target="_blank">{{ converted_image_url }}</a>
      <hr/>
    </p>
  {% endif %}
  {% if quality %}
     <p class="centered">
      <font size="2"> Quality selected: {{ quality }} </font>
    </p>
  {% endif %}
  {% if compression_rate %}
    <p class="centered">
      <font size="2">Compression rate: {{ compression_rate }}</font>
    </p>
  {% endif %}
  {% if original_file_size %}
    <p class="centered">
      <font size="2">Original file size: {{ original_file_size }} kB</font>
    </p>
  {% endif %}
  {% if compressed_file_size %}
    <p class="centered">
      <font size="2">Compressed file size: {{ compressed_file_size }} kB</font>
    </p>
  {% endif %}

  <p>
    <font size="1">
      <a href="{% url 'upload' %}">Take another compression</a>
    </font>
  </p>
{% endblock %}