{% extends 'compressit/base.html' %}

{% load static %}

{% block content %}
  <form class="centered" method="post" enctype="multipart/form-data" oninput="door.value=parseInt(slider.value)">
    {% csrf_token %}
    <label>
     	<strong>Your image</strong>
    </label>
    <hr/>

    <input type="file" name="image">
    <br/><br/>

    Quality:
      <input id="slider" type="range" name="quality" value="70" min="0" max="100">
      <output name="door" value="70"></output> <br/>
    <p>
      <font size="1">
        (only to JPG format)
      </font>
    </p>

    Format:
    <select name="codec">
  		<option value="jpg">JPG</option>
  		<option value="png">PNG</option>
  		<option value="bmp">BMP</option>
  		<option value="gif">GIF</option>
  		<option value="tiff">TIFF</option>
  		<option value="ico">ICO</option>
	  </select>

    Mode:
    <select name="mode">
      <option value="RGB">RGB</option>
      <option value="L">Gray scale</option>
      <option value="1">1 bit</option>
    </select>
	  <br/><br/><br/>

    <button type="submit">Upload</button>
  </form>


  <br/><br/>
  {% if converted_image_url %}
    <p>Download your compressed image here: <a href="{{ converted_image_url }}" target="_blank">{{ converted_image_url }}</a></p>
  {% endif %}
  {% if quality %}
    <p>Quality selected: {{ quality }}</p>
  {% endif %}
  {% if codec %}
    <p>Codec selected: {{ codec }}</p>
  {% endif %}
  {% if mode %}
    <p>Mode selected: {{ mode }}</p>
  {% endif %}

  <!-- <p><a href="{% url 'index' %}">Return to home</a></p> -->
{% endblock %}